@font-face {
    font-family: "Juache";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
    font-weight: normal;
    font-display: swap;
}

* {
    /* border: solid 0.1px red; */
}

.페이지 {
    font-family: "Juache", sans-serif;
    width: 1080px;
    height: 1920px;
}

header {
    width: 100%;
    height: 180px;
    max-width: 1080px;
    position: fixed;
    /* border: 1px solid blue; */
    top: 0;
    z-index: 100;
    background-color: #E6CEB0;
}

header>div{
    font-weight: bold;
    line-height: 150px;
    padding-left: 20px;
    font-size: 48px;
}

section {
    /* padding-top: 230px; */
    max-width: 1100px;
    /* border: 1px solid red; */
    margin-top: 180px;
    min-height: 90vh;
    min-width: 1080px;
    background-color: #F0EDE8;
}
.섹션{
    border-color: #c3c3c3;
    background-color: #F0EDE8;
    height: 170px;
    display: flex;
    margin: 15px 30px;
    align-items: center;
    border-radius: 12px;
    padding: 0 20px;
    box-shadow: 4px 4px 4px gray;
}

img {
    display: inline;
    width: 150px;
    height: 150px;
    margin: 0 20px;
}

.정보{
    margin-left: 50px;
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.정보>div{
    margin-bottom: 10px;
}

.수량선택{
    /* background-color: white; */
    display: flex;
    margin-left: 350px;
    text-align: center;
    /* border-radius: 15px; */
}

.수량선택>div{
    width: 70px;
    height: 70px;
    line-height: 70px;

}
.개수{
    background-color: white;
}
.마이너스버튼 {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: white;
    border-radius: 12px 2px 2px 12px;
    border-color: white;
}
.플러스버튼 {
    width: 70px;
    height: 70px;
    line-height: 70px;
    background-color: white;
    border-color: white;
    border-radius: 2px 12px 12px 2px;
}

.개수{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

footer {
    width: 100%;
    height: 100px;
    position: fixed;
    max-width: 1080px;
    bottom: 0;
    /* border: 3px solid black; */
    z-index: 100;
    background-color: #E6CEB0;
}

.푸터{
    font-family: none;
    /* border: solid 0.1px red; */
    margin-top: 10px;
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.가격>a{
    color: #A07639;
}

.수량>a{
    color: #474CEC;
}

span>button{
    width: 200px;
    background-color: white;
    border-color: 1px solid black;
    color: gray;
    border-radius: 10px;
}
.갈색버튼{
    width: 200px;
    background-color: #A07639;
    border-color: #A07639;
    color: white;
    border-radius: 10px;
}