* {
    /* border: 1px solid green; */
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

li{
        list-style-type: none;
}
/* #wrap{
    height: 100%;
} */

/* topHeader */
#topHeader{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px #dbdbdb solid;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px 40px 0px 40px;
}

#topHeader > span {
    margin: 0px 10px 5px 10px;
    font-size: 12px;
    
}

#topHeader > span > a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}
#topHeader > span > a > img {
    margin-top: 5px;
}
#topMenuIcon{
    width: 17px;
    height: 17px;
}

#headerLogo{
    width: 150px;
    height: 19px;
}
/* bottomheader */
#bottomHeader{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 40px 0px 40px;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 2;
}

#bottomHeader > li{
    position: relative;
}
#bottomHeader > li > a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin: 0px 10px 0px 10px;
    position: relative;
}

#bottomHeader > #imageLi{
    margin-right: 40px;
}

.submenu {
    top: 40px; left: -30px;
    position: absolute;
    background-color: white;
    padding: 10px;
    text-align: center;
    display: none;
    width: 100px;
}

.submenu > li {
    text-align: center;
    margin: 10px;
}

/* li에 hover에 마우스를 올렸을 때 서브메뉴를 표시시킨다. */
#bottomHeader > li:hover .submenu {
    display: block;
}

#bottomHeader > li > #red_a{
    color: red;
}

#searchBox{
    border-bottom: black 1px solid;
    margin-left: 30px;
}

#searchBox > input {
    border: white;
}

#searchIcon {
    width: 20px;
    height: 20px;
}

/* main_img */
#mainImage{
    width: 100%;
}

/* content */
#content{
    margin-top: 70px;
    width: 1600px;
}

#contentTitle{
    display: block;
    align-items: stretch;
    text-align: center;
    margin-bottom: 60px;
}
.title{
    font-size: 20px;
}

.comment{
    margin-top: 20px;
    color: #4f4e4e;
}

#items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#item{ width: 300px; margin: 30px; }

.itemImg{ width: 100%; }

.colorAndReview{
    display: flex;
    justify-content: space-between;
}
.itemInfo > .colorAndReview > .color > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: #4f4e4e 1px solid;

}
#itemPrice{
    position: relative;
}
.discountPercent{
    position: absolute;
    right: 0px;
    top: 0px;
}

/* footer */
#footer{
    margin-top: 100px;

}

#topFooter{
    padding: 40px 0px 40px 0px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
}
#topFooter>.footer>h2 {
    font-size: 20px;
}
#topFooter > .footer > div {
    font-size: 11px;
}
#topFooter > .footer > .footerTitle{
    font-size: 15px;
    font-weight: bold;
}

#topFooter>.footer>ul>li {
    margin: 7px 0px 7px 0px;
}
#topFooter>.footer> ul > li > a {
    text-decoration: none;
    color: black;
}

#bottomFooter{
    margin: 20px 0px 20px 0px;
}

#bottomFooter > div{
    text-align: center;
    color: #c0bfbf;
    font-size: 10px;
}

#popup{
    display: block;
    position: fixed;
    right: 0px;
    top: 30%;
}

.popupMenu > li {
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #b6b5b5 1px solid;
}

.popupMenu>li>img{
    width: 20px;
    height: 20px;
}

#popup > .popupMenu > li > .popupSub {
    position: absolute;
    right: 35px;
    display: none;
    width: 90px;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
}

#popup>.popupMenu>li:hover .popupSub{
    display: block;
}